body{
    background-image: url(../hvHTML/img/51.jpg);
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
}

form {
    width: 90%;
    max-width: 400px;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border: 2px solid rgb(50, 22, 128);
    font-style: verdana;
}

textarea{
    resize: vertical;
    min-height: 100px;
    max-height: 170px;
}

input, textarea, select{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(89, 88, 175);
}

input:focus, select:focus{
    border: 1px solid darkcyan;
}

.apartado{    
    margin-left: 100px;
    font-size: 20px;
    font-family: verdana;
    color: rgb(210, 141, 250);
}

.labels-form{
    font-family: verdana;
    color: rgb(194, 194, 194);
    font-size: 14px;
}

.input-form{
    background: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
}

.first-form{
    background: rgba(0, 0, 0, .6);
    border-radius: 4px;
    margin-right: 10px;
}

input[type="submit"]{
    margin-bottom: 0px;
    background: rgb(241, 182, 2);
    color: rgb(0, 0, 0);
    border: none;
}

input[type="submit"]:hover{
    background: rgb(241, 192, 44);
    cursor:pointer;    
}